<div class="container">
  <section class="row mb-5">
    <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
      <h2 class="m-0">Filters</h2>
      <!-- add student btn -->
      <div>
        <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="/students/add-student">
          <span class="h6 pe-1">&#43;</span> Add Student
        </button>
      </div>
    </div>
    <!-- filters -->
    <form class="row" [formGroup]="filtersForm">
      <div class="col-lg-3 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Department</mat-label>
          <mat-select (selectionChange)="handleFilterChange()" formControlName="department">
            <mat-option value="">All </mat-option>
            <mat-option *ngFor="let department of departments" [value]="department.departmentName">
              {{ department.departmentName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Year</mat-label>
          <mat-select (selectionChange)="handleFilterChange()" formControlName="year">
            <mat-option value="">All </mat-option>
            <mat-option value="firstYear">First Year </mat-option>
            <mat-option value="secondYear">Second Year </mat-option>
            <mat-option value="thirdYear">Third Year </mat-option>
            <mat-option value="fourthYear">Fourth Year </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Roll No</mat-label>
          <input matInput placeholder="Roll No" type="text" formControlName="rollNumber" />
        </mat-form-field>
      </div>
      <div class="col-lg-3 col-md-4">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Name</mat-label>
          <input type="text" matInput placeholder="Name" formControlName="studentName" />
        </mat-form-field>
      </div>
    </form>
  </section>
  <!-- students cards -->
  <section class="row py-3">
    <div class="col-12 text-center" *ngIf="studentsList.length === 0">
      <img src="/assets/no-data-found.png" class="w-100" alt="NO DATA FOUND">
    </div>
    <div class="col-lg-3 col-sm-6 col-md-4 mb-5" *ngFor="let student of studentsList">
      <app-student-card [student]="student" (deleteStudentId)="deleteStudent($event)"></app-student-card>
    </div>
  </section>
</div>