<div class="container">
  <section class="row mb-5">
    <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
      <h2 class="m-0">Filters</h2>
      <!-- add student btn -->
      <div>
        <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="/students/add-student">
          <span class="h6 pe-1">&#43;</span> Add Student
        </button>
      </div>
    </div>
    <!-- filters -->
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Department</mat-label>
        <mat-select>
          <mat-option *ngFor="let department of departments" [value]="department">
            {{ department }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Class</mat-label>
        <mat-select>
          <mat-option *ngFor="let department of departments" [value]="department">
            {{ department }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Roll No</mat-label>
        <input matInput placeholder="Roll No" type="text" />
      </mat-form-field>
    </div>
    <div class="col-lg-3 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="Name" />
      </mat-form-field>
    </div>
  </section>
  <!-- students cards -->
  <section class="row py-3">
    <div class="col-lg-3 col-sm-6 col-md-4 mb-5" *ngFor="let student of students">
      <app-student-card [student]="student"></app-student-card>
    </div>
  </section>
</div>