<div class="card rounded-3 shadow-sm text-center border border-2 position-relative transform"
  (click)="viewStudent(student?.id)">
  <div>
    <div class="position-absolute top-0 start-50 translate-middle">
      <img [src]="student.photo ? student.photo: '/assets/default-profile.png' " width="90" alt="student-image"
        class="img-fluid rounded-circle img-thumbnail shadow-md" />
    </div>
    <div class="card-body mt-4 pb-0">
      <h3 class="card-title fw-bold mb-1 text-wrap text">
        {{ student?.studentName }}
      </h3>
      <h4 class="card-text mb-2 text-black-60">{{ student?.department }}</h4>
      <p class="card-text text-muted mb-2" matTooltip="Roll No">
        {{ student?.rollNumber }}
      </p>
      <p class="card-text text-muted mb-2" matTooltip="Register No">
        {{ student?.examNumber }}
      </p>
    </div>
  </div>

  <div class="card-text mb-2 d-flex justify-content-center">
    <div class="me-3 border rounded-circle edit icon">
      <mat-icon aria-hidden="false" aria-label="Edit" matTooltip="Edit"><a
          [routerLink]="['edit-student/',student?.id]">create</a>
      </mat-icon>
    </div>
    <div class="border rounded-circle icon delete" (click)="deleteStudent(student?.id, $event)">
      <mat-icon aria-hidden="false" aria-label="Edit" matTooltip="Delete">delete</mat-icon>
    </div>
  </div>
</div>