.list-title-content {
    position: sticky;
    top: 0;
    background-color: white;
}

@media only screen and (min-width: 750px) {
    .list-container {
        max-height: 450px;
        overflow: auto;
    }
}
