<div class="container-fluid">
    <h2 class="text-uppercase">{{departmentDetails?.departmentName}}</h2>
    <app-student-count-cards *ngIf="studentsCount.length !== 0" [studentsCount]="studentsCount"
        [totalCount]="totalStudents"></app-student-count-cards>
    <hr>
    <!-- details section -->
    <section class="row">
        <!-- ear details -->
        <div class="col-12">
            <h2>Department Details</h2>
            <div class="d-flex justify-content-around">
                <p class="mb-0">
                    <span class="fw-bold">Department Code :</span> {{departmentDetails?.departmentCode}}
                </p>
                <p class="mb-0">
                    <span class="fw-bold">Department Hod :</span> {{departmentDetails?.departmentHod}}
                </p>
            </div>
            <!-- department details -->
            <section class="col-12 mt-3">
                <mat-accordion class="ms-4">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="fw-bold">
                                First Year
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center">Department Name</th>
                                        <th scope="col" class="text-center">Section</th>
                                        <th scope="col" class="text-center">classIncharge</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of firstYear; index as i">
                                        <th scope="row" class="text-center">{{i+1}}</th>
                                        <td class="text-center">{{l.departmentName}}</td>
                                        <td class="text-center">{{l.section}}</td>
                                        <td class="text-center">{{l.classIncharge}}</td>
                                        <td class="text-center text-success cursor-pointer">View Students</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
                <!-- second year -->
                <mat-accordion class="ms-4">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="fw-bold">
                                Second Year
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center">Department Name</th>
                                        <th scope="col" class="text-center">Section</th>
                                        <th scope="col" class="text-center">classIncharge</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of secondYear; index as i">
                                        <th scope="row" class="text-center">{{i+1}}</th>
                                        <td class="text-center">{{l.departmentName}}</td>
                                        <td class="text-center">{{l.section}}</td>
                                        <td class="text-center">{{l.classIncharge}}</td>
                                        <td class="text-center text-success cursor-pointer">View Students</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <!-- Third year -->
                <mat-accordion class="ms-4">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="fw-bold">
                                Third Year
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center">Department Name</th>
                                        <th scope="col" class="text-center">Section</th>
                                        <th scope="col" class="text-center">classIncharge</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of thirdYear; index as i">
                                        <th scope="row" class="text-center">{{i+1}}</th>
                                        <td class="text-center">{{l.departmentName}}</td>
                                        <td class="text-center">{{l.section}}</td>
                                        <td class="text-center">{{l.classIncharge}}</td>
                                        <td class="text-center text-success cursor-pointer">View Students</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

                <!-- fourth year -->
                <mat-accordion class="ms-4">
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="fw-bold">
                                Fourth Year
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">#</th>
                                        <th scope="col" class="text-center">Department Name</th>
                                        <th scope="col" class="text-center">Section</th>
                                        <th scope="col" class="text-center">classIncharge</th>
                                        <th scope="col" class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let l of fourthYear; index as i">
                                        <th scope="row" class="text-center">{{i+1}}</th>
                                        <td class="text-center">{{l.departmentName}}</td>
                                        <td class="text-center">{{l.section}}</td>
                                        <td class="text-center">{{l.classIncharge}}</td>
                                        <td class="text-center text-success cursor-pointer">View Students</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </section>
        </div>
    </section>
</div>