<div class="container">
    <div class="row">
        <!-- add department -->

        <div class="d-flex justify-content-between flex-wrap align-items-center mb-4">
            <h2 class="m-0">Notes</h2>
            <!-- add student btn -->
            <div>
                <button class="btn btn-primary btn-sm rounded shadow m-0 text-white" routerLink="upload-notes">
                    <span class="h6 pe-1">&#43;</span> upload notes
                </button>
            </div>
        </div>
        <!-- department details -->
        <div class="col-12 table-responsive mt-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Mobile Number</th>
                        <th scope="col" class="text-center">Email</th>
                        <th scope="col" class="text-center">Role</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let l of data; index as i">
                        <th scope="row" class="text-center">{{i+1}}</th>
                        <td class="text-center">{{l.name}}</td>
                        <td class="text-center">{{l.mobileNumber}}</td>
                        <td class="text-center">{{l.email}}</td>
                        <td class="text-center">{{l.role}}</td>
                        <td class="text-center">
                            <mat-icon aria-hidden="false" aria-label="Edit" matTooltip="Delete"
                                class="text-danger cursor-pointer" (click)="deleteAdmin(l.id)">delete</mat-icon>
                        </td>
                    </tr> -->
                </tbody>
            </table>
        </div>
    </div>
</div>