<div class="loader_wrapper">
    <div class="d-flex">
        <div class="loader text-white text-center fw-bold h6">L</div>
        <div class="loader text-white text-center fw-bold h6">O</div>
        <div class="loader text-white text-center fw-bold h6">A</div>
        <div class="loader text-white text-center fw-bold h6">D</div>
        <div class="loader text-white text-center fw-bold h6">I</div>
        <div class="loader text-white text-center fw-bold h6">N</div>
        <div class="loader text-white text-center fw-bold h6">G</div>
    </div>
</div>