<div class="container">
    <div class="row">
        <div class="col-12">
            <!-- new department form -->
            <form [formGroup]="createDepartment" (ngSubmit)="handleSubmit()">
                <h2>Department Details</h2>
                <!-- department details -->
                <section class="row">
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Department Name</mat-label>
                            <input matInput placeholder="Department Name" type="text"
                                formControlName="departmentName" />
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Department Code</mat-label>
                            <input matInput placeholder="Department Code" type="text"
                                formControlName="departmentCode" />
                        </mat-form-field>
                    </div>
                </section>
                <section class="row">
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline" class="w-100" placeholder="Department Hod">
                            <mat-label>Department Hod</mat-label>
                            <mat-select formControlName="departmentHod">
                                <mat-option *ngFor="let hod of hodList" [value]="hod?.name">
                                    {{ hod?.name }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-12 col-md-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Department Id</mat-label>
                            <input matInput placeholder="Department Id" type="text" formControlName="departmentId" />
                        </mat-form-field>
                    </div>
                </section>
                <hr>
                <h2>Class Details</h2>
                <hr>
                <!-- first year -->
                <mat-card formGroupName="years">
                    <div class="d-flex justify-content-between my-3">
                        <h2 class="bold">First Year</h2>
                        <div>
                            <button type="button" class="btn btn-primary btn-sm rounded shadow m-0 text-white"
                                (click)="addFirstYearSection()">
                                <span class="h6 pe-1">&#43;</span> Add Section
                            </button>
                        </div>
                    </div>
                    <!-- section details -->
                    <mat-card formArrayName="firstYear"
                        *ngFor="let section of firstYearSection?.controls; let i = index;">
                        <div class="row" [formGroupName]="i">
                            <!-- Incharge details -->
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Department Name</mat-label>
                                    <input matInput readonly placeholder="Department Name" type="text"
                                        formControlName="departmentName" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Section</mat-label>
                                    <input matInput readonly placeholder="Section" type="text"
                                        formControlName="section" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4">
                                <mat-form-field appearance="outline" class="w-100" placeholder="Class Incharge">
                                    <mat-label>Class Incharge</mat-label>
                                    <mat-select formControlName="classIncharge">
                                        <mat-option *ngFor="let teacher of teachersList" [value]="teacher?.teacherName">
                                            {{ teacher?.teacherName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-2 text-end" *ngIf="i > 0">
                                <button type="button" class="btn btn-danger btn-sm rounded shadow m-0 mt-3 text-white"
                                    (click)="removeFirstYearSection(i)">
                                    <span class="h6 pe-1">&#8722;</span> Remove
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </mat-card>
                <hr>
                <!-- second year -->
                <mat-card formGroupName="years">
                    <div class="d-flex justify-content-between my-3">
                        <h2 class="bold">Second Year</h2>
                        <div>
                            <button type="button" class="btn btn-primary btn-sm rounded shadow m-0 text-white"
                                (click)="addSecondYearSection()">
                                <span class="h6 pe-1">&#43;</span> Add Section
                            </button>
                        </div>
                    </div>
                    <!-- section details -->
                    <mat-card formArrayName="secondYear"
                        *ngFor="let section of secondYearSection?.controls; let i = index;">
                        <div class="row" [formGroupName]="i">
                            <!-- Incharge details -->
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Department Name</mat-label>
                                    <input matInput readonly placeholder="Department Name" type="text"
                                        formControlName="departmentName" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Section</mat-label>
                                    <input matInput readonly placeholder="Section" type="text"
                                        formControlName="section" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4">
                                <mat-form-field appearance="outline" class="w-100" placeholder="Class Incharge">
                                    <mat-label>Class Incharge</mat-label>
                                    <mat-select formControlName="classIncharge">
                                        <mat-option *ngFor="let teacher of teachersList" [value]="teacher?.teacherName">
                                            {{ teacher?.teacherName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-2 text-end" *ngIf="i > 0">
                                <button type="button" class="btn btn-danger btn-sm rounded shadow m-0 mt-3 text-white"
                                    (click)="removeSecondYearSection(i)">
                                    <span class="h6 pe-1">&#8722;</span> Remove
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </mat-card>
                <hr>
                <!-- Third year -->
                <mat-card formGroupName="years">
                    <div class="d-flex justify-content-between my-3">
                        <h2 class="bold">Third Year</h2>
                        <div>
                            <button type="button" class="btn btn-primary btn-sm rounded shadow m-0 text-white"
                                (click)="addThirdYearSection()">
                                <span class="h6 pe-1">&#43;</span> Add Section
                            </button>
                        </div>
                    </div>
                    <!-- section details -->
                    <mat-card formArrayName="thirdYear"
                        *ngFor="let section of thirdYearSection?.controls; let i = index;">
                        <div class="row" [formGroupName]="i">
                            <!-- Incharge details -->
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Department Name</mat-label>
                                    <input matInput readonly placeholder="Department Name" type="text"
                                        formControlName="departmentName" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Section</mat-label>
                                    <input matInput readonly placeholder="Section" type="text"
                                        formControlName="section" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4">
                                <mat-form-field appearance="outline" class="w-100" placeholder="Class Incharge">
                                    <mat-label>Class Incharge</mat-label>
                                    <mat-select formControlName="classIncharge">
                                        <mat-option *ngFor="let teacher of teachersList" [value]="teacher?.teacherName">
                                            {{ teacher?.teacherName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-2 text-end" *ngIf="i > 0">
                                <button type="button" class="btn btn-danger btn-sm rounded shadow m-0 mt-3 text-white"
                                    (click)="removeThirdYearSection(i)">
                                    <span class="h6 pe-1">&#8722;</span> Remove
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </mat-card>
                <hr>
                <!-- Fourth year -->
                <mat-card formGroupName="years">
                    <div class="d-flex justify-content-between my-3">
                        <h2 class="bold">Fourth Year</h2>
                        <div>
                            <button type="button" class="btn btn-primary btn-sm rounded shadow m-0 text-white"
                                (click)="addFourthYearSection()">
                                <span class="h6 pe-1">&#43;</span> Add Section
                            </button>
                        </div>
                    </div>
                    <!-- section details -->
                    <mat-card formArrayName="fourthYear"
                        *ngFor="let section of fourthYearSection?.controls; let i = index;">
                        <div class="row" [formGroupName]="i">
                            <!-- Incharge details -->
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Department Name</mat-label>
                                    <input matInput readonly placeholder="Department Name" type="text"
                                        formControlName="departmentName" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-3">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Section</mat-label>
                                    <input matInput readonly placeholder="Section" type="text"
                                        formControlName="section" />
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-4">
                                <mat-form-field appearance="outline" class="w-100" placeholder="Class Incharge">
                                    <mat-label>Class Incharge</mat-label>
                                    <mat-select formControlName="classIncharge">
                                        <mat-option *ngFor="let teacher of teachersList" [value]="teacher?.teacherName">
                                            {{ teacher?.teacherName }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12 col-md-2 text-end" *ngIf="i > 0">
                                <button type="button" class="btn btn-danger btn-sm rounded shadow m-0 mt-3 text-white"
                                    (click)="removeFourthYearSection(i)">
                                    <span class="h6 pe-1">&#8722;</span> Remove
                                </button>
                            </div>
                        </div>
                    </mat-card>
                </mat-card>

                <!-- submit button section -->

                <section class="my-4 d-flex justify-content-center">
                    <div>
                        <a [routerLink]="['/department']"
                            class="btn bg-danger text-white btn-sm me-3 rounded shadow py-2">
                            <span class="h6">&#10006; </span>
                            Cancel
                        </a>
                    </div>
                    <div>
                        <button class="btn btn-primary btn-sm rounded shadow py-2"
                            [disabled]="createDepartment.invalid">
                            {{departmentId === '' ? 'Create' : 'Update'}} Department
                        </button>
                    </div>
                </section>
            </form>
        </div>
    </div>
</div>