<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-12 col-md-4">
            <div class="profile-image-wrapper d-none d-md-block">
                <img [src]="details?.photo !== null ? details?.photo : '/assets/default-profile.png'"
                    class="w-100 h-100" alt="profile">
            </div>
            <div class="d-md-none text-center">
                <img src="/assets/default-profile.png" width="90" alt="student-image"
                    class="img-fluid rounded-circle img-thumbnail shadow-md" />
            </div>
        </div>
        <div class="col-12 col-md-8">
            <p>{{details?.teacherName}}</p>
            <p>{{details?.teacherTitle}}</p>
            <p>{{details?.teacherId}}</p>
            <p>{{details?.email}}</p>
            <p>{{details?.mobileNumber}}</p>
            <p>{{details?.majorSubject}}</p>
            <p class="fw-bold">
                Handling Subjects :
            </p>
            <span>
                {{details?.handlingSubjects}}
            </span>
        </div>
    </div>
</div>